* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding-inline: 1rem;
    display: flex;
}

h1, h2 {
    font-family: "Vollkorn", Georgia, serif;
    font-weight: normal;
}
h1 {
    text-align: center;
}

/* Form elements */

button, input, select, textarea {
    color: black;
    font-size: initial;
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
button {
    padding: 0.8em;
    border: none;
    background-color: #eee;
}
button:not(:disabled) {
    cursor: pointer;
}
button:disabled {
    color: #444;
}
button:not(:disabled):hover, button:not(:disabled):focus-visible {
    background-color: turquoise;
}

input[type=number] {
    width: 3em;
}

/* Layout */

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 50rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
footer {
    margin-top: auto;
}
.content-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.settings-toggle {
    width: 100%;
}
.settings {
    border: solid 1px #ccc;
    padding: 1rem;
    border-top: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}
.points-settings {
    text-align: right;
}
.points-settings > * + * {
    margin-top: 0.4rem;
}

.status-bar {
    margin-block: 1em;
}

.status-bar > * + * {
    margin-left: 1rem;
}

table.stat-report {
    margin-block: 1rem;
}

/* Table */

table {
    border-collapse: collapse;
}
td, th {
    padding: 0.2em;
    text-align: center;
}
th {
    font-weight: bold;
}
thead {
    border-bottom: solid 1px #ccc;
}

.colgroup-end {
    border-right: solid 1px #ccc;
}
.swap-col.colgroup-start {
    padding-right: 0;
}
.swap-col.colgroup-end {
    padding-left: 0;
}

.inactive {
    opacity: 0.5;
}