* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1em;
}

.point-spread {
    margin: 0.8em;
    padding: 0.2em;
    cursor: pointer;
    width: calc(0.4em + 6*1.8em);
}
.point-spread:hover {
    background-color: turquoise;
}

.score {
    display: inline-block;
    width: 1.8em;
    text-align: center;
}

button {
    border: none;
    background-color: #eee;
    color: black;
    padding: 0.8em;
    cursor: pointer;
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover {
    background-color: turquoise;
}

input[type=number] {
    width: 3em;
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
}

table.stat-report {
    margin: 0.8em;
    border-collapse: collapse;
}

td, th {
    padding: 0.2em;
    text-align: center;
}
thead {
    border-bottom: solid 1px #aaa;
}

/* column styles */
.ability-col {
    width: 3em;
}
.score-col {
    width: 2em;
}
.swap-col {
    width: 3.5em;
    border-left: solid 1px #aaa;
}
.manual-mod-col {
    width: 3em;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
}
